Los datos  se encuentran en la máquina virtual:

`/home/dsc/Data/challenge`:
- `bookings.csv.bz2`
- `searches.csv.bz2`

## Exercise 1

#### Count the number of lines in Python for each file

[How to decompress a .bz2 file](https://superuser.com/questions/480950/how-to-decompress-a-bz2-file)

- Modify original content: `bzip2 -d filename.bz2`
- Preserve original content: `bzip2 -dk filename.bz2`


[How can I view a compressed file content](https://stackoverflow.com/questions/12646843/how-can-i-view-a-compressed-file-content)

You can use bzcat and pipe its output:

     echo '1' > test
     bzip2 test
     bzcat test.bz2
     >>> 1

[Passing Values to and from the Shell](https://jakevdp.github.io/PythonDataScienceHandbook/01.05-ipython-and-shell-commands.html#Passing-Values-to-and-from-the-Shell)

You can save the output of any shell command to a Python list using the assignment operator:
 
    In [4]: contents = !ls

    In [5]: print(contents)
    ['myproject.txt']
    
Communication in the other direction–passing Python variables into the shell–is possible using the {varname} syntax:

    In [9]: message = "hello from Python"

    In [10]: !echo {message}
    hello from Python

In [1]:
!ls /home/dsc/Data/challenge

bookings.csv.bz2  searches.csv.bz2

Dado que son archivos muy grandes, hacemos un archivo con una muestra de las 10000 primeras filas, y manejaremos ese en adelante para las pruebas iniciales.

In [2]:
!bzcat /home/dsc/Data/challenge/bookings.csv.bz2 | head -n 10000 > bookings.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/Data/challenge/bookings.csv.bz2, output file = (stdout)

In [3]:
!bzip2 -f bookings.sample.csv

In [4]:
!ls -l

total 1132
-rw-rw-r-- 1 dsc dsc 535893 nov 20 20:27 bookings.sample.csv.bz2
-rwxrwxrwx 1 dsc dsc  85223 nov 20 20:27 DS_Challenge_Mario.ipynb
-rw-rw-r-- 1 dsc dsc 535893 nov 20 17:50 searches.sample.csv.bz2

Confirmamos que ya tenemos un archivo "juguete" para empezar a trabajar.

In [5]:
%%time

!bzcat bookings.sample.csv.bz2 | wc -l

10000
CPU times: user 18.7 ms, sys: 1.16 ms, total: 19.8 ms
Wall time: 640 ms

In [6]:
import bz2

In [7]:
fileBz2 = bz2.BZ2File('bookings.sample.csv.bz2')

In [8]:
type(fileBz2)

bz2.BZ2File

In [9]:
fileBz2 = bz2.BZ2File('bookings.sample.csv.bz2')

k = 0
for line in fileBz2:
    k += 1
print(k)

10000

In [10]:
fileBz2.closed

False

In [11]:
fileBz2.close()

Para evitar el problema de olvidar cerrar el archivo...

In [12]:
with bz2.BZ2File('bookings.sample.csv.bz2') as fileBz2:
    k = 0
    for line in fileBz2:
        k += 1
# Cuando sales del "with" se cierra el archivo, y se previene así el problema del puntero
print(k)

10000

In [13]:
!bzcat /home/dsc/Data/challenge/bookings.csv.bz2 | head -n 10000 > searches.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/Data/challenge/bookings.csv.bz2, output file = (stdout)

In [14]:
!bzip2 -f searches.sample.csv

In [15]:
%%time

!bzcat searches.sample.csv.bz2 | wc -l

10000
CPU times: user 39.2 ms, sys: 1.01 ms, total: 40.2 ms
Wall time: 1.3 s

In [16]:
with bz2.BZ2File('searches.sample.csv.bz2') as fileBz2:
    k = 0
    for line in fileBz2:
        k += 1
# Cuando sales del "with" se cierra el archivo, y se previene así el problema del puntero
print(k)

10000

In [17]:
# Comprobación de que está cerrado:
fileBz2.closed

True

## Exercise 2

#### Top 10 arrival airports in the world in 2013 (using the bookings file)

- Arrival airport is the column arr_port. It is the IATA code for the airport
- To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port. Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).
- Print the top 10 arrival airports in the standard output, including the number of passengers.
- **Bonus point**: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at **GeoBases in Github**)
- **Bonus point**: Solve this problem using pandas (instead of any other approach)

[Large, persistent DataFrame in pandas](https://stackoverflow.com/questions/11622652/large-persistent-dataframe-in-pandas/12193309#12193309)

%%time

# 'chunksize' indica el número de filas que se asignará a cada trozo del iterador (TextFileReader)

import pandas as pd

tp = pd.read_csv('/home/dsc/Data/challenge/bookings.csv.bz2', sep='^', iterator=True, chunksize=1000)  # gives TextFileReader, which is iterable with chunks of 1000 rows.
df = pd.concat(tp, ignore_index=True)  # df is DataFrame. If errors, do `list(tp)` instead of `tp`

# Kernel died...

reader.get_chunk(1e7) 

# Kernel died...

In [18]:
# %%time

# import pandas as pd

# tp = pd.read_csv('/home/dsc/Data/challenge/bookings.csv.bz2', sep='^', iterator=True, chunksize=1000)  # gives TextFileReader, which is iterable with chunks of 1000 rows.
# # df = pd.concat(tp, ignore_index=True)  # df is DataFrame. If errors, do `list(tp)` instead of `tp`

# for chunk in tp:
#     cols = chunk.columns
#     new_cols = []
#     for col in cols:
#         new_col = col.strip()
#         new_cols.append(new_col)
#     chunk.columns = new_cols
#     break
# chunk.columns

In [19]:
# %%time

# arr_port = ! bzcat /home/dsc/Data/challenge/bookings.csv.bz2 | cut -d "^" -f 13

In [20]:
# Trabajando con el sample:

import pandas as pd

df = pd.read_csv('bookings.sample.csv.bz2', sep='^')
df.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [21]:
df.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [22]:
new_cols = []
for col in df.columns:
    new_col = col.strip()
    new_cols.append(new_col)
    
df.columns = new_cols
df.columns

Index(['act_date', 'source', 'pos_ctry', 'pos_iata', 'pos_oid', 'rloc',
       'cre_date', 'duration', 'distance', 'dep_port', 'dep_city', 'dep_ctry',
       'arr_port', 'arr_city', 'arr_ctry', 'lst_port', 'lst_city', 'lst_ctry',
       'brd_port', 'brd_city', 'brd_ctry', 'off_port', 'off_city', 'off_ctry',
       'mkt_port', 'mkt_city', 'mkt_ctry', 'intl', 'route', 'carrier',
       'bkg_class', 'cab_class', 'brd_time', 'off_time', 'pax', 'year',
       'month', 'oid'],
      dtype='object')

In [23]:
df['rloc'].nunique()

3638

In [24]:
df.groupby(['arr_port']).sum()

          duration  distance  intl  pax    year  month
arr_port
AAL            128       476     0    0    4026      6
ABQ         132562         0     0   12   24156     36
ABV         655719       890     4    2   12078     18
ABZ         373104         0     6   -6   12078     18
ACC         753561      8252    12    4   24156     36
...            ...       ...   ...  ...     ...    ...
YZF          11194         0     2    4    4026      6
ZAG         164584       108     4   -4   12078     18
ZNZ          96800         0     3    1   10065     15
ZRH         850236      5990    44   16  102663    153
ZYL          25449     16028     3   -1    6039      9

[663 rows x 6 columns]

In [25]:
df[df['arr_port'] == "ABQ"]

Empty DataFrame
Columns: [act_date, source, pos_ctry, pos_iata, pos_oid, rloc, cre_date, duration, distance, dep_port, dep_city, dep_ctry, arr_port, arr_city, arr_ctry, lst_port, lst_city, lst_ctry, brd_port, brd_city, brd_ctry, off_port, off_city, off_ctry, mkt_port, mkt_city, mkt_ctry, intl, route, carrier, bkg_class, cab_class, brd_time, off_time, pax, year, month, oid]
Index: []

[0 rows x 38 columns]

In [26]:
# Los códigos IATA tienen espacios!!

df['arr_port'].unique()

array(['LHR     ', 'CLT     ', 'SVO     ', 'LGA     ', 'SIN     ',
       'TUS     ', 'CTA     ', 'YWG     ', 'PVG     ', 'SGC     ',
       'ALG     ', 'DMM     ', 'LED     ', 'LIS     ', 'BLR     ',
       'BWI     ', 'DEL     ', 'TPA     ', 'MNL     ', 'ULN     ',
       'ZRH     ', 'ALA     ', 'FCO     ', 'AYT     ', 'MVD     ',
       'CVG     ', 'OTP     ', 'CDG     ', 'HAV     ', 'NRT     ',
       'BKK     ', 'MEX     ', 'SAV     ', 'EWR     ', 'SFO     ',
       'DTW     ', 'OMA     ', 'YVR     ', 'ACC     ', 'SDF     ',
       'CAI     ', 'TLV     ', 'ELP     ', 'HMO     ', 'LAS     ',
       'BOI     ', 'TYR     ', 'ATL     ', 'IST     ', 'BBI     ',
       'ISB     ', 'LCA     ', 'FRA     ', 'CAG     ', 'DCA     ',
       'COS     ', 'SHA     ', 'DAY     ', 'MCO     ', 'BOS     ',
       'TIA     ', 'SKG     ', 'LCY     ', 'SJD     ', 'DFW     ',
       'LAX     ', 'ADD     ', 'PHX     ', 'LIR     ', 'SYD     ',
       'MIA     ', 'MCI     ', 'YHZ     ', 'STL     ', 'OGG     ',
       'HKG     ', 'TXL     ', 'WAW     ', 'LYR     ', 'MRS     ',
       'IXE     ', 'BRU     ', 'MQN     ', 'JED     ', 'GAU     ',
       'FAI     ', 'SJU     ', 'MUC     ', 'LIT     ', 'PDX     ',
       'SXM     ', 'JAC     ', 'ATH     ', 'DOH     ', 'BCN     ',
       'FAO     ', 'CCJ     ', 'CGK     ', 'COK     ', 'YUL     ',
       'BNE     ', 'GUM     ', 'DXB     ', 'CCS     ', 'RUH     ',
       'BUF     ', 'KIV     ', 'CZM     ', 'BNA     ', 'SGN     ',
       'AUS     ', 'AGP     ', 'ORD     ', 'ORY     ', 'SNA     ',
       'BEY     ', 'VPS     ', 'CUR     ', 'PBI     ', 'SDU     ',
       'ANC     ', 'DEN     ', 'UVF     ', 'HNL     ', 'KUL     ',
       'BRD     ', 'MAD     ', 'NAS     ', 'MSY     ', 'MEL     ',
       'AMS     ', 'BHM     ', 'SOF     ', 'ICN     ', 'WDH     ',
       'LIM     ', 'REN     ', 'SVQ     ', 'MAN     ', 'TLS     ',
       'NBO     ', 'ASU     ', 'MED     ', 'GRU     ', 'CUN     ',
       'CUZ     ', 'BOM     ', 'MSO     ', 'SAN     ', 'CHQ     ',
       'JFK     ', 'PHL     ', 'BOG     ', 'YXE     ', 'SAT     ',
       'MDZ     ', 'MLX     ', 'ISU     ', 'LAO     ', 'SSA     ',
       'FUE     ', 'DAC     ', 'LIN     ', 'CBR     ', 'YYZ     ',
       'FLL     ', 'BJV     ', 'MAA     ', 'BLQ     ', 'VVI     ',
       'CAN     ', 'AMD     ', 'AUH     ', 'CMB     ', 'SMI     ',
       'IND     ', 'LOS     ', 'DAB     ', 'OAK     ', 'ATQ     ',
       'EZE     ', 'MGW     ', 'MCT     ', 'KHI     ', 'WRO     ',
       'GIZ     ', 'YNB     ', 'SHV     ', 'HER     ', 'ALC     ',
       'SDQ     ', 'RAK     ', 'BUD     ', 'YYC     ', 'JNB     ',
       'JAX     ', 'PVR     ', 'BJX     ', 'SJO     ', 'MSN     ',
       'MEM     ', 'TPE     ', 'PIT     ', 'CUL     ', 'JKH     ',
       'CRK     ', 'KOA     ', 'DPS     ', 'MHT     ', 'SLC     ',
       'YAY     ', 'RAI     ', 'AKL     ', 'RDU     ', 'FDH     ',
       'AXM     ', 'GUA     ', 'DZA     ', 'LGW     ', 'HAM     ',
       'ORN     ', 'QOW     ', 'DKR     ', 'KLX     ', 'GVA     ',
       'DUB     ', 'BIQ     ', 'RTB     ', 'HDY     ', 'UIO     ',
       'ERI     ', 'CMN     ', 'LSE     ', 'ALB     ', 'SJC     ',
       'YCD     ', 'SNN     ', 'PER     ', 'PSA     ', 'ROV     ',
       'MXP     ', 'RIC     ', 'ROA     ', 'BHX     ', 'CGN     ',
       'BGO     ', 'FLR     ', 'DUR     ', 'IDR     ', 'BFN     ',
       'AJF     ', 'ARH     ', 'SMF     ', 'SRQ     ', 'DUS     ',
       'HYD     ', 'PUJ     ', 'BJA     ', 'KIN     ', 'POS     ',
       'IAS     ', 'IAH     ', 'ISN     ', 'AVL     ', 'SEA     ',
       'EBL     ', 'TAO     ', 'OAJ     ', 'GYE     ', 'PEW     ',
       'SVG     ', 'PAP     ', 'ABQ     ', 'STT     ', 'ASE     ',
       'SPS     ', 'MBJ     ', 'ASW     ', 'DAL     ', 'KSN     ',
       'IAD     ', 'AES     ', 'AMM     ', 'CAK     ', 'ARN     ',
       'TIP     ', 'IXC     ', 'MME     ', 'ESB     ', 'AEP     ',
       'CMH     ', 'PSP     ', 'MKE     ', 'NCE     ', 'IQQ     ',
       'DLA     ', 'EWN     ', 'JLN     ', 'CPH     ', 'KBP     ',
       'AER     ', 'AGA     ', 'CTG     ', 'RBA     ', 'LHE     ',
       'HBE     ', 'PAD     ', 'TRD     ', 'GOT     ', 'PRG     ',
       'MIR     ', 'CID     ', 'CEB     ', 'CJS     ', 'GEO     ',
       'RUN     ', 'MDE     ', 'PNH     ', 'HEL     ', 'CLO     ',
       'TFN     ', 'PEK     ', 'GRB     ', 'CGO     ', 'CCP     ',
       'NTE     ', 'RKS     ', 'ZYL     ', 'HKT     ', 'USM     ',
       'FAR     ', 'GEG     ', 'CNS     ', 'GSP     ', 'SZX     ',
       'ZNZ     ', 'JRO     ', 'NAP     ', 'BRI     ', 'JNU     ',
       'KWI     ', 'PRI     ', 'CEK     ', 'KIX     ', 'HAJ     ',
       'OKC     ', 'XNA     ', 'MYR     ', 'YQM     ', 'PIA     ',
       'FCA     ', 'LTN     ', 'SUF     ', 'PBM     ', 'TSR     ',
       'LCG     ', 'GRR     ', 'YXY     ', 'HUX     ', 'HGH     ',
       'GDL     ', 'RHO     ', 'RNO     ', 'PLZ     ', 'DME     ',
       'TYS     ', 'ROC     ', 'GMP     ', 'TMP     ', 'VNO     ',
       'KTM     ', 'QJZ     ', 'SCL     ', 'BCD     ', 'YQU     ',
       'YZF     ', 'MLI     ', 'MSP     ', 'CFE     ', 'BUR     ',
       'RSW     ', 'KGS     ', 'GTF     ', 'HAN     ', 'SGF     ',
       'MID     ', 'LIH     ', 'YYJ     ', 'LPA     ', 'TGD     ',
       'RPR     ', 'VCE     ', 'ABV     ', 'CNX     ', 'MAF     ',
       'TNR     ', 'OVB     ', 'PTP     ', 'TGU     ', 'DRW     ',
       'TSA     ', 'MOB     ', 'MKG     ', 'GDN     ', 'GLA     ',
       'MGA     ', 'ABZ     ', 'PUS     ', 'BQK     ', 'BGI     ',
       'TUN     ', 'VIE     ', 'BPS     ', 'CLE     ', 'AUA     ',
       'YEG     ', 'YOW     ', 'FSP     ', 'GFK     ', 'RGN     ',
       'GPT     ', 'BLL     ', 'LRT     ', 'PLS     ', 'MPM     ',
       'BRW     ', 'GNV     ', 'TBS     ', 'EAS     ', 'AQP     ',
       'KGD     ', 'CPR     ', 'EZS     ', 'OMS     ', 'LKO     ',
       'CHS     ', 'JST     ', 'AAL     ', 'CLJ     ', 'PLQ     ',
       'ONT     ', 'RAJ     ', 'ANF     ', 'AJA     ', 'CUC     ',
       'PMI     ', 'OAG     ', 'LUG     ', 'HFE     ', 'ORF     ',
       'JJN     ', 'ECP     ', 'SBP     ', 'MAR     ', 'BTR     ',
       'JDH     ', 'RAP     ', 'FUK     ', 'BHH     ', 'MLA     ',
       'MBA     ', 'FLO     ', 'MDW     ', 'SOM     ', 'VKO     ',
       'SZG     ', 'ICT     ', 'FAT     ', 'FOC     ', 'MLB     ',
       'BAH     ', 'VER     ', 'SOU     ', 'PMC     ', 'VTZ     ',
       'VLC     ', 'MDT     ', 'EDI     ', 'AOE     ', 'OPO     ',
       'FNC     ', 'TUL     ', 'SAP     ', 'KRK     ', 'OSL     ',
       'MLE     ', 'YVO     ', 'YHD     ', 'YQT     ', 'YMM     ',
       'YQQ     ', 'IXZ     ', 'GOJ     ', 'THR     ', 'AOI     ',
       'SSH     ', 'BZE     ', 'AGU     ', 'IBZ     ', 'BLJ     ',
       'FIH     ', 'HPN     ', 'ATW     ', 'PNA     ', 'CTS     ',
       'PAT     ', 'IKA     ', 'MRY     ', 'BGA     ', 'IGU     ',
       'WLG     ', 'PDL     ', 'BEG     ', 'BRE     ', 'NOS     ',
       'DIE     ', 'HRK     ', 'COR     ', 'PTY     ', 'LUO     ',
       'NSI     ', 'BDA     ', 'FLN     ', 'GOA     ', 'MAO     ',
       'GIG     ', 'BTM     ', 'SYR     ', 'GCC     ', 'GCM     ',
       'BDL     ', 'FSD     ', 'KBL     ', 'WUH     ', 'AGX     ',
       'JAN     ', 'FNA     ', 'LYS     ', 'SBA     ', 'MSU     ',
       'POL     ', 'TCQ     ', 'VNS     ', 'CRW     ', 'ANU     ',
       'TRN     ', 'SKP     ', 'LFT     ', 'RFP     ', 'PVD     ',
       'TOS     ', 'MSQ     ', 'YXS     ', 'SPU     ', 'HLA     ',
       'EVN     ', 'LIL     ', 'BOD     ', 'JYV     ', 'DSM     ',
       'SXF     ', 'CPT     ', 'SPN     ', 'BKI     ', 'GZP     ',
       'HRG     ', 'CCU     ', 'LIG     ', 'MTY     ', 'KWL     ',
       'AVP     ', 'FAY     ', 'LJU     ', 'KSM     ', 'SJJ     ',
       'KYA     ', 'NAN     ', 'CTU     ', 'CSG     ', 'ZAG     ',
       'SDR     ', 'MRV     ', 'TNG     ', 'NUE     ', 'MFR     ',
       'BTV     ', 'PMO     ', 'CHA     ', 'NBC     ', 'ILM     ',
       'SXB     ', 'SYZ     ', 'WEH     ', 'PRN     ', 'XMN     ',
       'TRW     ', 'ORK     ', 'OSR     ', 'FWA     ', 'KGI     ',
       'FOR     ', 'LEX     ', 'IVL     ', 'ECN     ', 'STN     ',
       'OME     ', 'MTR     ', 'BWN     ', 'BME     ', 'DRS     ',
       'IXB     ', 'BIO     ', 'SAL     ', 'GYD     ', 'HOU     ',
       'BSL     ', 'HAK     ', 'AFA     ', 'VSA     ', 'CHC     ',
       'TOF     ', 'STS     ', 'ITM     ', 'XNB     ', 'OUD     ',
       'KEF     ', 'TRV     ', 'OKA     ', 'HBA     ', 'UBP     ',
       'NAG     ', 'PPT     ', 'LGB     ', 'LBV     ', 'ADZ     ',
       'IKT     ', 'NGB     ', 'SLL     ', 'UKK     ', 'QQS     ',
       'NPL     ', 'BRC     ', 'FPO     ', 'USH     ', 'TFS     ',
       'PEI     ', 'CRL     ', 'SIP     ', 'SCQ     ', 'RST     ',
       'FRU     ', 'ROB     ', 'BRM     ', 'HHH     ', 'YTM     ',
       'KTN     ', 'DBV     ', 'EYW     ', 'TLH     ', 'NCL     ',
       'MRU     ', 'XQP     ', 'SBZ     '], dtype=object)

In [27]:
# Modificamos pues los valores de la columna:

df['arr_port'] = df['arr_port'].str.strip()

In [28]:
df[df['arr_port'] == "ABQ"]

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
1606,2013-03-04 00:00:00,1S,US,a098002ed8b9feee624f1913b17e2c68,07729d8f3cedcef60646e9312a1b757d,c3111765a421af81cb7c54f16e141d42,2013-03-04 00:00:00,4259,0,DEN,...,DENABQ,FK,V,Y,2013-03-10 18:35:00,2013-03-10 20:02:40,1,2013,3,NULL
1607,2013-03-04 00:00:00,1S,US,a098002ed8b9feee624f1913b17e2c68,07729d8f3cedcef60646e9312a1b757d,c3111765a421af81cb7c54f16e141d42,2013-03-04 00:00:00,4259,0,DEN,...,ABQDEN,FK,S,Y,2013-03-13 16:07:00,2013-03-13 17:34:40,1,2013,3,NULL
3341,2013-03-11 00:00:00,1V,US,ca452f344681a6a0d2779745d598bd3d,3a5600f7bffa5074f4d56794133dd11b,cbbd279a09b9f18fbe47c5258bfebdd7,2013-03-11 00:00:00,20739,0,PSC,...,PSCSLCABQ,NV,U,Y,2013-03-29 06:24:00,2013-03-29 11:30:58,1,2013,3,NULL
3342,2013-03-11 00:00:00,1V,US,ca452f344681a6a0d2779745d598bd3d,3a5600f7bffa5074f4d56794133dd11b,cbbd279a09b9f18fbe47c5258bfebdd7,2013-03-11 00:00:00,20739,0,PSC,...,ABQSLCPSC,NV,U,Y,2013-04-12 12:30:00,2013-04-12 16:03:01,1,2013,3,NULL
6023,2013-03-18 00:00:00,1V,US,73d2bd747515516040ec806a72ff7fb2,0ea791cd1d8b35e744dc1a3f0e2191a0,eeab1e9216dc323fb9c3bb52ac4ddc63,2013-03-18 00:00:00,6479,0,AUS,...,AUSDFWABQ,KK,G,Y,2013-04-01 07:20:00,2013-04-01 10:02:27,1,2013,3,NULL
6024,2013-03-18 00:00:00,1V,US,73d2bd747515516040ec806a72ff7fb2,0ea791cd1d8b35e744dc1a3f0e2191a0,eeab1e9216dc323fb9c3bb52ac4ddc63,2013-03-18 00:00:00,6479,0,AUS,...,ABQDFWAUS,KK,S,Y,2013-04-05 14:20:00,2013-04-05 19:19:36,1,2013,3,NULL
6025,2013-03-28 00:00:00,1V,US,73d2bd747515516040ec806a72ff7fb2,0ea791cd1d8b35e744dc1a3f0e2191a0,eeab1e9216dc323fb9c3bb52ac4ddc63,2013-03-18 00:00:00,6479,0,AUS,...,AUSDFWABQ,KK,G,Y,2013-04-01 07:20:00,2013-04-01 10:02:27,-1,2013,3,NULL
6026,2013-03-28 00:00:00,1V,US,73d2bd747515516040ec806a72ff7fb2,0ea791cd1d8b35e744dc1a3f0e2191a0,eeab1e9216dc323fb9c3bb52ac4ddc63,2013-03-18 00:00:00,6479,0,AUS,...,AUSDFWABQ,KK,X,Y,2013-04-01 07:20:00,2013-04-01 10:02:27,1,2013,3,NULL
6464,2013-03-04 00:00:00,1V,US,12c5c16e96fedbc2af592ea4e9bc29d8,777fe6e953d2e578532f910519809c75,91112b50b06760e43a7b61c92d36f69c,2013-03-04 00:00:00,7660,0,ATL,...,ATLABQ,NV,H,Y,2013-03-10 11:01:00,2013-03-10 12:12:48,1,2013,3,NULL
6465,2013-03-04 00:00:00,1V,US,12c5c16e96fedbc2af592ea4e9bc29d8,777fe6e953d2e578532f910519809c75,91112b50b06760e43a7b61c92d36f69c,2013-03-04 00:00:00,7660,0,ATL,...,ABQATL,NV,H,Y,2013-03-15 13:30:00,2013-03-15 18:41:48,1,2013,3,NULL
7517,2013-03-22 00:00:00,1P,US,367ebdc91358ef37421a6baae122c5ac,598cd5434be33bff857f103bf910f55e,cef410118d4b98f7b03986ea67913cce,2013-03-22 00:00:00,20665,0,TYS,...,TYSATLABQ,NV,K,Y,2013-07-08 13:15:00,2013-07-08 17:41:48,2,2013,3,NULL
7518,2013-03-22 00:00:00,1P,US,367ebdc91358ef37421a6baae122c5ac,598cd5434be33bff857f103bf910f55e,cef410118d4b98f7b03986ea67913cce,2013-03-22 00:00:00,20665,0,TYS,...,ABQATLTYS,NV,V,Y,2013-07-22 13:10:00,2013-07-22 21:40:14,2,2013,3,NULL

In [29]:
df['abs_pax'] = df['pax'].abs()
df[['pax', 'abs_pax']]

      pax  abs_pax
0      -1        1
1       1        1
2       1        1
3       1        1
4       1        1
...   ...      ...
9994    2        2
9995    2        2
9996   -2        2
9997    2        2
9998    2        2

[9999 rows x 2 columns]

In [30]:
# Ahora que hemos comprobado que está bien formateado:

group = df.groupby(['arr_port']).sum().sort_values(by='abs_pax', ascending=False)
group['abs_pax'][0:10]

arr_port
JFK    300
LHR    288
LAX    285
CDG    238
PVG    223
SFO    221
MCO    212
HKG    210
JED    206
MNL    201
Name: abs_pax, dtype: int64

In [31]:
dir(df)

['T',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_builtin_table',
 '_can_fast_transpose',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iter_column_arrays',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'abs_pax',
 'act_date',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'arr_city',
 'arr_ctry',
 'arr_port',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bkg_class',
 'bool',
 'boxplot',
 'brd_city',
 'brd_ctry',
 'brd_port',
 'brd_time',
 'cab_class',
 'carrier',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cre_date',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'dep_city',
 'dep_ctry',
 'dep_port',
 'describe',
 'diff',
 'distance',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'duration',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'intl',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lst_city',
 'lst_ctry',
 'lst_port',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mkt_city',
 'mkt_ctry',
 'mkt_port',
 'mod',
 'mode',
 'month',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'off_city',
 'off_ctry',
 'off_port',
 'off_time',
 'oid',
 'pad',
 'pax',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pos_ctry',
 'pos_iata',
 'pos_oid',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rloc',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'route',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'source',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs',
 'year']

In [32]:
df['pax']

0      -1
1       1
2       1
3       1
4       1
       ..
9994    2
9995    2
9996   -2
9997    2
9998    2
Name: pax, Length: 9999, dtype: int64

In [ ]:
%%time

import pandas as pd
from tqdm import tqdm

tp = pd.read_csv('/home/dsc/Data/challenge/bookings.csv.bz2', usecols=['arr_port', 'pax'], sep='^', iterator=True, chunksize=10000)  # gives TextFileReader, which is iterable with chunks of 1000 rows.
# df = pd.concat(tp, ignore_index=True)  # df is DataFrame. If errors, do `list(tp)` instead of `tp`

filas = 0
iter_max = 1e8 # Usar '5' para test

df_all = pd.DataFrame()
for k, chunk in tqdm(enumerate(tp)):
    # print(len(chunk)) # Comprobador
    new_cols = []
    for col in chunk.columns:
        new_col = col.strip()
        new_cols.append(new_col) 
    chunk.columns = new_cols
    chunk['arr_port'] = chunk['arr_port'].str.strip()
    # chunk['abs_pax'] = chunk['pax'].abs() # Se elimina esto para que las cancelaciones resten, anulándose
    group_chunk = chunk.groupby(['arr_port']).sum().sort_values(by='pax', ascending=False)
    df_all = df_all.append(group_chunk, ignore_index=True)

    if k == iter_max: # Comprobador
        break # Comprobador
        
    filas += len(chunk)

26it [00:20,  1.47it/s]

In [62]:
filas

10000

In [63]:
df_all.sort_values(by='pax', ascending=False)

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
...       ...
PSA        -8
DPS        -9
ASU       -10
IKA       -10
GUM       -14

[663 rows x 1 columns]

In [75]:
df.shape[0]

9999

## Exercise 3

#### Plot the monthly number of searches for flights arriving at Málaga, Madrid or Barcelona

- For the arriving airport, you can use the Destination column in the searches file.
- Plot a curve for Málaga, another one for Madrid, and another one for Barcelona, in the same figure.
- **Bonus point**: Solving this problem using pandas (instead of any other approach)

In [66]:
!bzcat /home/dsc/Data/challenge/searches.csv.bz2 | head -n 10000 > searches.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/Data/challenge/searches.csv.bz2, output file = (stdout)

In [67]:
!bzip2 -f searches.sample.csv

In [68]:
%%time

!bzcat searches.sample.csv.bz2 | wc -l

10000
CPU times: user 20.1 ms, sys: 4.49 ms, total: 24.6 ms
Wall time: 601 ms

In [69]:
with bz2.BZ2File('searches.sample.csv.bz2') as fileBz2:
    k = 0
    for line in fileBz2:
        k += 1
# Cuando sales del "with" se cierra el archivo, y se previene así el problema del puntero
print(k)

10000

In [70]:
# Comprobación de que está cerrado:
fileBz2.closed

True

```python
%%time

import pandas as pd
from tqdm import tqdm

tp = pd.read_csv('searches.sample.csv.bz2', sep='^', iterator=True, chunksize=10000)

filas = 0
iter_max = 1e0 # Usar '5' para test

with open('003_sample_chunks', mode='w') as file:
for k, chunk in tqdm(enumerate(tp)):
    
    
    
    df_all = df_all.append(group_chunk, ignore_index=True)

    if k == iter_max: # Comprobador
        break # Comprobador
        
    filas += len(chunk)
```

In [71]:
searches_sample = pd.read_csv('searches.sample.csv.bz2', sep='^')

In [73]:
searches_sample.columns

Index(['Date', 'Time', 'TxnCode', 'OfficeID', 'Country', 'Origin',
       'Destination', 'RoundTrip', 'NbSegments', 'Seg1Departure',
       'Seg1Arrival', 'Seg1Date', 'Seg1Carrier', 'Seg1BookingCode',
       'Seg2Departure', 'Seg2Arrival', 'Seg2Date', 'Seg2Carrier',
       'Seg2BookingCode', 'Seg3Departure', 'Seg3Arrival', 'Seg3Date',
       'Seg3Carrier', 'Seg3BookingCode', 'Seg4Departure', 'Seg4Arrival',
       'Seg4Date', 'Seg4Carrier', 'Seg4BookingCode', 'Seg5Departure',
       'Seg5Arrival', 'Seg5Date', 'Seg5Carrier', 'Seg5BookingCode',
       'Seg6Departure', 'Seg6Arrival', 'Seg6Date', 'Seg6Carrier',
       'Seg6BookingCode', 'From', 'IsPublishedForNeg', 'IsFromInternet',
       'IsFromVista', 'TerminalID', 'InternetOffice'],
      dtype='object')

In [74]:
searches_sample.sample(5)

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
5316,2013-01-06,09:47:59,MPT,b2771a31dc32d1e4af0ea7d758b8442b,FR,CFE,DXB,1,2,CFE,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
8117,2013-01-09,07:51:00,MPT,03a4fc8b3cd31d6d5b5d7b86d20f4af8,DE,PAR,TLH,1,2,PAR,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LEJ
4805,2013-01-05,14:08:56,FFP,53aea156edeed571bbc473c82b01ac4b,BR,MCZ,BSB,1,2,MCZ,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SAO
1787,2013-01-02,09:18:03,FCP,8d2a1e767a6c0231e998716660848886,CA,YYT,YUL,0,1,YYT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,YYZ
8309,2013-01-09,20:01:47,FQD,1ee479f5d8e435942d95363363634aee,DE,LAS,ATL,1,2,LAS,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,4a62c4d06aeab1212a3a0f53e7edde4b,FRA

In [ ]:
%%time

import pandas as pd
from tqdm import tqdm

tp = pd.read_csv('searches.sample.csv.bz2', sep='^', iterator=True, chunksize=10000)

filas = 0
iter_max = 1e0 # Usar '5' para test

for k, chunk in tqdm(enumerate(tp)):
    
    
    
    df_all = df_all.append(group_chunk, ignore_index=True)

    if k == iter_max: # Comprobador
        break # Comprobador
        
    filas += len(chunk)