### 1) Magic and shell

In [1]:
%cd/Data/opentraveldata

UsageError: Line magic function `%cd/Data/opentraveldata` not found.

In [2]:
%pwd

'/home/dsc/shared/Clases 4_Python/Notebooks'

In [3]:
%cd

/home/dsc

In [4]:
%cd Data/opentraveldata/

/home/dsc/Data/opentraveldata

In [12]:
a = ! find ~ -type d -iname "us_dot"
a

['/home/dsc/Data/us_dot',
 'find: ‘/home/dsc/.cache/dconf’: Permission denied',
 'find: ‘/home/dsc/.dbus’: Permission denied']

In [7]:
%cd ..

/home/dsc/Data

In [8]:
%cd us_dot/otp/

/home/dsc/Data/us_dot/otp

In [9]:
%cd ..

/home/dsc/Data/us_dot

In [10]:
%cd traffic/

/home/dsc/Data/us_dot/traffic

In [11]:
_dh

['/home/dsc/shared/Clases 4_Python/Notebooks',
 '/home/dsc',
 '/home/dsc/Data/opentraveldata',
 '/home/dsc/Data',
 '/home/dsc/Data/us_dot/otp',
 '/home/dsc/Data/us_dot',
 '/home/dsc/Data/us_dot/traffic']

Cita cada directorio y el numero de archivos que estan en cada uno de ellos

In [14]:
lista = [ '/home/dsc/Data/opentraveldata',
 '/home/dsc/Data/us_dot/otp',
 '/home/dsc/Data/us_dot/traffic']

In [46]:
for d in lista:
    count = ! ls $d | wc -l # El simbolo "$" se utiliza para pasar variables de Python al shell
    print("Directorio:", d, "\n", "Número de archivos:", count[0])
    ls = ! ls $d
    print(ls)

Directorio: /home/dsc/Data/opentraveldata
 Número de archivos: 11
['largest_file.txt', 'last_20.txt', 'last_3_aircraft_lines.txt', 'one', 'optd_aircraft.csv', 'optd_airlines.csv', 'optd_por_public.csv', 'ref_airline_nb_of_flights.csv', 'test_2', 'test_file', 'timestamp_header.txt']
Directorio: /home/dsc/Data/us_dot/otp
 Número de archivos: 1
['On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2018_12.zip']
Directorio: /home/dsc/Data/us_dot/traffic
 Número de archivos: 2
['T100_SEGMENT_ALL_CARRIER_2014.zip', 'T100_SEGMENT_ALL_CARRIER_2015.zip']

In [47]:
for d in lista:
    count = ! ls {d} | wc -l # Tambien se puede usar "{}" en su lugar
    print("Directorio:", d, "\n", "Número de archivos:", count[0])

Directorio: /home/dsc/Data/opentraveldata
 Número de archivos: 11
Directorio: /home/dsc/Data/us_dot/otp
 Número de archivos: 1
Directorio: /home/dsc/Data/us_dot/traffic
 Número de archivos: 2

### 2) For comprehension & Map

1) Elevar al cuadrado cada elemento con "for comprehension" y con "map"

In [51]:
seq = [1,2,3,4,5,6,7,8]
print([x**2 for x in seq])
print(list(map(lambda x:x**2, seq)))

[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64]

2) Preparar una lista con nombres. Pasar todas las vocales a mayúsculas, y consonantes en minúsculas.

In [54]:
def nuevos_nombres(nombres = ['Luis', 'Pedro', 'Rosa', 'Roberto', 'Andrea', 'Estanislao', 'Eufrasia', 'Eustaquio', 'Patricia', 'Gaudencio']):
    nuevos_nombres = []
    for nombre in nombres:
        nuevo_nombre = ''
        for letra in nombre:
            if letra in 'aeiouAEIOU':
                nuevo_nombre += letra.upper()
            else:
                nuevo_nombre += letra.lower()
        nuevos_nombres.append(nuevo_nombre)
    return nuevos_nombres

nuevos_nombres()

['lUIs',
 'pEdrO',
 'rOsA',
 'rObErtO',
 'AndrEA',
 'EstAnIslAO',
 'EUfrAsIA',
 'EUstAqUIO',
 'pAtrIcIA',
 'gAUdEncIO']

In [55]:
def nuevo_nombre(nombre=''):
    nuevo_nombre = ''
    for letra in nombre:
        if letra in 'aeiouAEIOU':
            nuevo_nombre += letra.upper()
        else:
            nuevo_nombre += letra.lower()
    return nuevo_nombre

nombres = ['Luis', 'Pedro', 'Rosa', 'Roberto', 'Andrea', 'Estanislao', 'Eufrasia', 'Eustaquio', 'Patricia', 'Gaudencio']
list(map(nuevo_nombre, nombres))

['lUIs',
 'pEdrO',
 'rOsA',
 'rObErtO',
 'AndrEA',
 'EstAnIslAO',
 'EUfrAsIA',
 'EUstAqUIO',
 'pAtrIcIA',
 'gAUdEncIO']

3) Devolver de una lista de nombres, aquellos que contengan el caracter que se indique

In [60]:
def nombres_especiales(nombres, caracter):
    nombres_especiales = []
    for nombre in nombres:
            if caracter in nombre:
                nombres_especiales.append(nombre)
    return nombres_especiales

nombres_especiales(nombres = ['Luis', 'Pedro', 'Rosa', 'Roberto', 'Andrea', 'Estanislao', 'Eufrasia', 'Eustaquio', 'Patricia', 'Gaudencio'], caracter='e')

['Pedro', 'Roberto', 'Andrea', 'Gaudencio']

In [61]:
names = ['Luis', 'Pedro', 'Rosa', 'Roberto', 'Andrea', 'Estanislao', 'Eufrasia', 'Eustaquio', 'Patricia', 'Gaudencio']
[name for name in names if name.count('e')>0]

['Pedro', 'Roberto', 'Andrea', 'Gaudencio']

4) Dar la vuelta a cada cadena de una lista

In [66]:
[''.join(list(reversed(x))) for x in names]

['siuL',
 'ordeP',
 'asoR',
 'otreboR',
 'aerdnA',
 'oalsinatsE',
 'aisarfuE',
 'oiuqatsuE',
 'aicirtaP',
 'oicneduaG']

In [64]:
a = 'hola'
b = list(reversed(a))
b

['a', 'l', 'o', 'h']

5.1) Escribir un string en el que cada palabra está invertida, pero manteniendo el orden original

In [68]:
def invertido(cadena = ''):
    cadena = cadena.split()
    invertido = []
    for palabra in cadena:
        invertido.append(palabra[::-1])
    return ' '.join(invertido)

invertido("Hola me llamo Mario")

'aloH em omall oiraM'

5.2) Escribir un string en el que se invierte el orden de las palabras, manteniendolas invariables

In [83]:
def invertido_v2(cadena = ''):
    return ' '.join(cadena.split()[::-1])

invertido_v2("Hola me llamo Mario")

'Mario llamo me Hola'

6) Definir una funcion que devuelva la palabra mas larga de una cadena y su longitud

In [79]:
def mas_larga(cadena = ''):
    mas_larga = ''
    largo = 0
    for palabra in cadena.split():
        if len(palabra) > largo:
            largo = len(palabra)
            mas_larga = palabra
    return mas_larga, largo

mas_larga('Hola que tal estan ustedes')

('ustedes', 7)